@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

 
:root  {
  --background: 26 100% 95%;
  --foreground: 26 5% 7%;
  --card: 26 50% 90%;
  --card-foreground: 26 5% 10%;
  --popover: 26 100% 95%;
  --popover-foreground: 26 100% 7%;
  --primary: 26 100% 93.7%;
  --primary-foreground: 0 0% 0%;
  --secondary: 26 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -12 30% 85%;
  --muted-foreground: 26 5% 35%;
  --accent: 26 65% 85%;
  /*  -12 80% 80% */
  --accent-foreground: 26 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 26 5% 90%;
  --border: 23 45% 65%;
  --active: 26 70% 60%;
  --input: 26 30% 18%;
  --ring: 26 100% 93.7%;
  --radius: 0.75rem;
}
.dark  {
  --background: 337 10% 10%;
  --foreground: 337 0% 90%;
  --card: 337 0% 10%;
  --card-foreground: 337 0% 90%;
  --popover: 337 10% 5%;
  --popover-foreground: 337 0% 90%;
  --primary: 337 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 337 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 299 10% 15%;
  --muted-foreground: 337 0% 60%;
  --accent: 299 10% 15%;
  --accent-foreground: 337 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 337 0% 90%;
  --border: 347 40% 50%;
  --active: 350 60% 50%;
  --input: 337 20% 18%;
  --ring: 337 100% 50%;
  --radius: 1rem;
}

  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}